.slide-1{
   background-color: #ffffff;
}
.slide-2{
    background-color: #fffae6;
}
.slide-3{
   background-color: #ffffff;
}
 .slide-4{
    background-color: #e7e8ec;
 }
 .slide-5{
    background-color: #f0ede8
 }
 .slide-6{
    background-color: #fff9ef;
 }
 .slide-7{
    background-color: #f9e2ff;
 }

.hero-container{
    margin-top: 110px;
}
